<!-- (*) assigned classes -->

<!-- *class view-login / background color -->
<ion-view hide-nav-bar="true" class="view-login">
    <ion-content padding="true">
        <!-- *class logo / logo company or app -->
        <div class="logo">
           Logo
        </div>
        <form>
            <div class="list list-inset">
                 
                <button class="button button-block icon ion-social-facebook-outline button-royal" ng-click="login()">
                    Entrar
                </button>
                <span>ou</span>
                <button class="button button-block icon ion-social-facebook-outline button-royal">
                    Cadastrar
                </button>
                
               
            </div>
        </form>
    </ion-content>
</ion-view>
