<!-- (*) assigned classes -->

<ion-view view-title="Eventos">


    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
    </ion-nav-buttons>


    <ion-content class="padding">

        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/feed/tourada.png">
                <h2>Tourada Mecânica</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i> 12/01/106
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i> Local
                </p>
            </div>
        </div>

        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/feed/tourada.png">
                <h2>Tourada Mecânica</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i> 12/01/106
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i> Local
                </p>
            </div>
        </div>


        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/feed/tourada.png">
                <h2>Tourada Mecânica</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i> 12/01/106
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i> Local
                </p>
            </div>
        </div>


        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="img/feed/tourada.png">
                <h2>Tourada Mecânica</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i> 12/01/106
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i> Local
                </p>
            </div>
        </div>


    </ion-content>
</ion-view>