<!-- (*) assigned classes -->

<ion-view view-title="Favorites">

    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
    </ion-nav-buttons>

    <ion-content>
        <!-- *input-search -->
        <div class="list list-inset input-search">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Buscar">
          </label>
        </div>
        <!-- *item-border-off / quit first border of the list item-->
        <!-- *list-fav / content of the list -->
        <ion-list class="item-border-off list-fav">

            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/0">
                <img ng-src="img/27.jpg">
                <h2>
                    Nome 1
                </h2>

                <i class="icon ion-chevron-right icon-accessory"></i>
                 
            </ion-item>

            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/0">
                <img ng-src="img/27.jpg">
                <h2>
                    Nome 2
                </h2>

                <i class="icon ion-chevron-right icon-accessory"></i>
                 
            </ion-item>


            <ion-item class="item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/0">
                <img ng-src="img/27.jpg">
                <h2>
                    Nome 3
                </h2>

                <i class="icon ion-chevron-right icon-accessory"></i>
                 
            </ion-item>
            
            
             
             
             
        </ion-list>
    </ion-content>
</ion-view>
