<!-- (*) assigned classes -->

<ion-view view-title="Eventos">


    <ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
    </ion-nav-buttons>



    <ion-content class="padding" >
        
        <div ng-repeat="event in eventos">
        <div class="list card">
            <div class="item item-avatar item-icon-right">
                <img src="{{event.cover.source}}">
                <h2>{{event.name}}</h2>
                <p class="time">
                    <a>
                        <i class="icon ion-ios-clock-outline"></i> {{event.start_time | date:'dd-MM-yyyy'}}
                    </a>
                </p>
                <p class="icon-p">
                    <i class="icon ion-ios-location-outline"></i> {{event.place.name}}
                </p>
            </div>
        </div>
        </div>

        


    </ion-content>
</ion-view>