<!-- (*) assigned classes -->

<ion-view view-title="Meu Perfil">
	<ion-nav-buttons side="right">
        <a class="button button-icon icon ion-ios-gear-outline" href="#/tab/edprofile"></a>
    </ion-nav-buttons>
	<ion-content>
		<!-- *profile-bg / container image -->
		<div class="profile-bg">
			<img src="{{user.cover.source}}" alt="">
		</div>
		<!-- *content / container profile -->
		<div class="content">
			<!-- *profile-info / container data profile -->
			<div class="profile-info">
				
				<img class="profile-image"  src="{{user.picture.data.url}}">
				<h3 class="profile-name">{{user.name}}</h3>
				 
			</div>
			
	</ion-content>
</ion-view>
